/* ==== RESET ==== */
* {
  margin: 0; /* zerar margem */
  padding: 0; /* zerar preenchimento */
  box-sizing: border-box; /* o preenchimento do conteúdo será incluído a partir da borda. */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ==== VARIABLES ==== */

:root {
  --header-height: 4.5rem;
  /* colors */

  --hue: 159;

  /* gradient colors */
  --gradient: linear-gradient(
    to right,
    rgb(236, 159, 14) 0%,
    rgb(224, 224, 24) 100% 
  );
  --gradient-reverse: linear-gradient(
    to left,
    rgb(236, 159, 14) 0%,
    rgb(224, 224, 24) 100%
  );
  --gradient-section: linear-gradient(
    to right,
    white 20%,
    rgb(250, 250, 101) 100%
  );

  /* HSL color mode Deco */
  --home-color: hsl(32, 100%, 93%) 40%;
  --about-color: hsl(48, 38%, 85%) 40%;
  --discography-color: hsl(7, 19%, 82%) 40%;

  /* HSL color mode */
  --base-color: hsl(var(--hue) 35% 44%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: "Montserrat", sans-serif;
  --body-font: "Noto Serif Display", serif;
}

/* ==== BASE ==== */

html {
  scroll-behavior: smooth; /* rolagem suave entre sections */
}

.title {
  font: 700 1.875rem "Noto Serif Display", sans-serif;
  color: var(--title-color);
  text-decoration: none;
  text-align: center;
}

.divider {
  height: 2px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

/* ==== LAYOUT ==== */

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex; /* habilitar conteúdo interno do header ser flexível, se adaptando ao eixo horizontal da page */
  width: 100%; /* header de 100% para não transbordar para o lado */
  position: fixed; /* posição fixa independente da rolagem */
  top: 0;
  left: 0;
  z-index: 100; /* sobreposição de 100 */
  background: var(--gradient);
}

#header.scroll {
  background: var(--gradient-reverse);
  box-shadow: 0px 0px 12px rgba(68, 65, 65, 0.8);
}

#header.scroll .icon-menu1 {
  color: rgb(14, 14, 83);
}

.container {
  position: relative;
  justify-content: space-between;
  margin-left: 1.5rem; /* margem esquerda de 24px. */
  margin-right: 1.5rem; /* margem direita de 24px. */
}

.logo {
  position: absolute;
  height: 5rem;
  top: 0.2rem;
}

.logo img {
  height: 100%;
  width: auto;
}

/* ==== NAVIGATION (MENU) ==== */

nav {
  height: var(--header-height);
  align-items: center; /* alinhar os itens do nav ao meio */
  display: flex; /* jogar tudo que está no nav ao lado e não abaixo dos elementos (organização horizontal) */
  justify-content: space-between; /* jogar um elemento no canto direito e outro elemento no canto esquerdo */
  width: 100%; /* elemento filho tem que ocupar 100% do elemento pai */
}

nav ul li {
  /* alinhar textos do menu ao centro */
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative; /* funciona para habilitar o position: absolute no sub element::after */
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: "";
  width: 0%; /* não quero que ele apareça fixo */
  height: 2px;
  background: var(--base-color);

  position: absolute; /* funciona se o elemento pai estiver como position: relative */
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%; /* agora apareça */
}

nav .menu {
  font: 400 0.8rem "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: 0.8rem;
  opacity: 0; /* ESCONDER MENU */
  visibility: hidden; /* ESCONDER MENU */
  top: -20rem; /* efeito 'descida' quando clico no menu */
  transition: 0.2s; /* transição da 'descida' */
}

nav .menu ul {
  display: none;
}

nav.show .menu ul {
  display: grid;
}

nav.show .menu {
  opacity: 1; /* MOSTRAR MENU */
  visibility: visible; /* MOSTRAR MENU */

  background: var(--body-color);

  height: 100vh; /* 100% do viewport height */
  width: 100vw; /* 100% do viewport width */

  position: fixed; /* habilitar posição fixa */
  top: 0; /* habilitar topo 0 */
  left: 0; /* habilitar esquerda 0 */

  display: grid;
  place-content: center; /* jogar o menu para o meio da tela */
}

nav.show ul.grid {
  gap: 4rem;
}

/* toogle menu */

.toogle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem; /* transição pra cima quando apertar o botão */
  right: 0;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  font-size: 1.7rem;
  top: 1.5rem; /* transição pra cima quando apertar o botão */
}

/* ==== MAIN ==== */

main {
  margin-top: var(--header-height);
}

.section {
  padding: 5rem 0; /* distância de 5rem acima/abaixo e 0 esquerda/direita */
}

.grid {
  display: grid; /* ativar a funcionalidade do gap */
  gap: 2rem; /* distanciamento entre dois filhos (.image e .text) */
}

/* ==== HOME ==== */

#home {
  overflow: hidden; /* manter o limite do home para não transbordar para o lado */
  background: var(--body-color);
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative; /* habilitar o position absolute do elemento filho para posicionar uma sombra "por baixo" da img do .image */
}

#home .image::before {
  /* funcionalidade que me permite criar um elemento fictício (before é 'antes' do conteúdo) */
  content: "";
  height: 100%; /* preencher 100% da altura da image */
  width: 100%; /* preencher 100% da largura da image */
  background: var(--base-color-second);
  opacity: 70%;
  position: absolute;
  top: -16.8%; /* estou deslocando 16.8% para cima */
  left: 16.8%; /* estou deslocando 16.8% na esquerda */
  z-index: 0;
}

#home .image img {
  position: relative; /* habilitar funcionalidades específicas para o que eu irei fazer */
  right: 1.4775rem; /* empurrei a imagem na direita (top, left, right e bottom são habilitadas por causa do position) */
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  font: 400 0.8rem "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: 1rem;
  margin-left: 1.5rem; /* margem esquerda de 24px. */
  margin-right: 1.5rem; /* margem direita de 24px. */
  text-align: center;
}

span.one {
  color: red;
}

span.two {
  color: orange;
}

span.three {
  color: blue;
}

/* ==== ABOUT ==== */

#about {
  background: var(--body-color);
}

#about .text {
  font: 400 0.8rem "Montserrat", sans-serif;
  color: var(--title-color);
  font-size: 1rem;
  margin-left: 1.5rem; /* margem esquerda de 24px. */
  margin-right: 1.5rem; /* margem direita de 24px. */
  text-align: center;
}

#about .team {
  margin-left: 1rem;
  margin-top: 1.5rem;
  text-align: left;
  font-style: italic;
}

ul span.one {
  color: green;
}

ul span.two {
  color: purple;
}

ul span.three {
  color: red;
}

ul span.four {
  color: black;
}

ul span.five {
  color: rgb(161, 161, 5);
}

ul span.six {
  color: orange;
}

/* ==== DISCOGRAPHY ==== */

#discography {
  background: var(--body-color);
}

#discography .text h1 {
  display: grid;
  align-items: center;
  text-align: center;
}

#discography .card {
  width: 100%;
  background: var(--gradient);
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  display: flex;
  opacity: 100%;
}

#discography .card img {
  object-fit: cover;
  clip-path: circle();
}

#discography .ep-quintal-container {
  font: 400 0.8rem "Montserrat", sans-serif;
  color: var(--title-color);
  font-size: 1rem;
  margin-left: 1.5rem; /* margem esquerda de 24px. */
  margin-right: 1.5rem; /* margem direita de 24px. */
  text-align: center;
  display: grid;
  gap: 1rem;
  align-items: center;
  height: 100%;
  width: 50%;
  cursor: pointer;
}

#discography .logo-quintal {
  display: flex;
  align-items: center;
}

#discography .single-scores-container {
  font: 400 0.8rem "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: 1rem;
  margin-left: 1.5rem; /* margem esquerda de 24px. */
  margin-right: 1.5rem; /* margem direita de 24px. */
  text-align: center;
  display: grid;
  gap: 1rem;
  align-items: center;
  height: 100%;
  width: 50%;
  cursor: pointer;
}

#discography .ep-quintal-container p,
#discography .single-scores-container p {
  width: 100%;
  display: block;
  text-align: center;
}
